@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.user-profile-header {
    font-family: poppins, sans-serif;
    background: linear-gradient(to bottom, #DBDBDB, #dbdbdb00);
    height: 230px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: baseline;
}

.avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
  margin-right: 37px;
}

.avatar {
    width: 150px;
    height: 159px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
  font-size: 40px;
  margin: 0;
}


.profile-section {
  font-size: 20px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
}

.profile-description {
  margin: 10px 0;
}

.profile-links a {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5em;
  color: #666;
}

.profile-links a:hover {
  color: #FF414E;
}

.profile-info{
margin: -10px;
}

.profile-info h2{
  margin: 0px;
  }

.nature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.nature-header h1 {
  font-size: 22px;
  margin: 0;
}



/*costum Button*/ 

.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--Engine-primary, #FF414E);
  color: var(--Engine-base, #ffffff);
  font-size: 16px;
  font-weight: 700;
  padding: 14px 35px;
  transition: 500ms;
  border-radius: 32px;
  overflow: hidden;
  margin: 5px;
}

.thm-btn:before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 85px;
  height: 100%;
  background-color: rgba(var(--Engine-black-rgb, 30, 30, 34), 1);
  opacity: 0.1;
  content: "";
  border-radius: 32px;
  transform: scale(1);
  transition: 500ms ease;
}

.thm-btn:hover {
  color: var(--Engine-base, #ffffff);
}

.thm-btn:hover::before {
  width: 100%;
  opacity: 1;
  transform: scale(1.5);
  border-radius: 0;
  background-color: var(--Engine-black, #1e1e22);
}

.thm-btn span {
  position: relative;
}

.thm-btn--dark {
  background-color: var(--Engine-black, #1e1e22);
}

.thm-btn--dark:hover::before,
.thm-btn--dark::before {
  background-color: var(--Engine-base, #ffffff);
}

.thm-btn--dark:hover::before {
  background-color: var(--Engine-primary, #FF414E);
}

.thm-btn--dark:hover {
  color: var(--Engine-base, #ffffff);
}

.thm-btn--dark--light-hover:hover::before {
  background-color: var(--Engine-base, #ffffff);
}

.thm-btn--dark--light-hover:hover {
  color: var(--Engine-black, #1e1e22) !important;
}