* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.custom_adds{
  
  display: flex !important;
  flex-wrap: nowrap !important;
}
.nav a{
  font-size: 30px;
  color: #004AAD !important;
}


.nav a:hover{
  color: #FF414E !important;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #BFDBFF;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.search_container{
  display: grid;
    align-content: center;
    width: 100%;
}
.search_container input[type="text"]{
    font-size: 15px;
    padding: 5px;
    width: 100%;
    border-radius:50px;
    border: 0;
    text-align: center;
}
.search_icon_container{
  width: fit-content;
    position: absolute;
    margin: 13px 0px 0px 4px;
}
.main_logo{
  width : 120px;
}
.nav a {
  color: inherit;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 75px;
}
.nav span{
  font-size: 12px;
    font-weight: 700;
}
.nav li {
  display: grid;
  text-align: center;
  padding-top: 3px;
}
.nav li.active {
  background-color: #BFDBFF;
}

.nav li:hover {
  background-color: rgb(194, 194, 194);
}

.notif_container{
  background: red;
  border-radius: 50%;
  position: absolute;
  margin-right: -20px;
  padding: 0px 3px;
  font-size: 10px;
  color: white;
}